*{
  font: italic normal 400 1.2rem Arial, Verdana, sans-serif;
  box-sizing: border-box;

}
html{
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
/*header*/

header{
  padding:auto;
  background-color:rgba(204, 198, 198, 0.7);
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  position: sticky;
  display: block;
}


  
.nav li, ul {
    display: inline-block;
  
}
.nav p{
  display: inline-block;
  font-size: 14px;
  padding: 6px;
}


header a{
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-size: 18px;
}

header a:hover{
    color: whitesmoke;
}

body {
  margin: 0;
  flex-direction: column;
  min-height: 100vh;
}

#hero, body{
  background-size:auto;
  background-color: rgba(246, 242, 242, 0.993);

}

/* INICIO */
#hero {
  background-image: url('../images/inicio2.png');
  background-size: cover;
  height: 100vh;
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.hero-content {
  background-color: rgba(78, 77, 77, 0.6);
  padding: 18px;
  border-radius: 6px;
}

.hero_content, h1 {
  font-size: 23px;
  font-weight: bold;
  margin: 0;
}
.hero_content, p {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}


/* PROYECT */

#row {
  background-image: url('../images/textura.avif');
  flex-wrap: wrap;
  display: flex;
  justify-content:center;
  padding: 5px;

  
}

.column {
  flex: 50%;
  padding: 5px;
  text-align:center;
  margin: 15px;
  
}

.column img {
  margin-top: 5px;
  
}
.imag {
  box-sizing: border-box;
  width: 190px;
  margin: 5px;
  border-radius: 8%;
  
}
.text_photos{
  font-size: 13px;
  background-color:rgb(220, 213, 213);
}





/*footer*/

footer{
  background-color: gainsboro;
  margin-top: auto;
}

.p_footer{
  color: black;
  font-size: 16px;
  margin: 0;
}
.container1{
  height: 36px;
  display: flex;
  justify-content:center;
  align-items: center;
  text-decoration: overline;  
}

.fa {
  height: 18px;
 margin: 0;
 margin-right: 10px;
}

/* FORM */

form{
  background-image: url('../images/fondo.JPG');
  background-position:100px;
  padding: 1.8em;
  color:black;
}

form > h3{
text-align: center;
}

.row_formn{
  display: flex;
  justify-content: center;
}

.column_formn{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  padding: 1em;
  background-color:#CED3DC;
}

.input-group{
  margin: 5px;
}

.input-group > label{
  display: block;
  font-size: 18px;
}
.input-group > input{
  font-size: 16px;
}
.card{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  margin: 0;
  font-size: 14px;

}

textarea{
  width: 100%;
  resize:none;
  height: 100px;
}

.input-bottom > input{
 background-color: #FCF7F8;
 margin-top: 10px;
 font-size: 20px;

}







@media screen and (min-width: 1280px){

  /*header*/
.nav p{
   display: inline-block;
   font-size: 20px;
   padding: 10px;
  }
  
  header a{
    padding: 5px 20px;
    font-size: 22px;
 }
 
 
 /* INICIO */
 
 .hero-content {
   padding: 20px;
   border-radius: 10px;
 }
 
 .hero_content, h1 {
   font-size: 35px;
 }
 .hero_content, p {
   font-size: 30px;
   margin-top: 2%;
 }
 
 /*PROYECT*/
 #row {
  padding: 5px;
 
}

.column {
  flex: 25%;
  padding: 5px;
  margin: 2px;
  margin-top: 6px;
}

.column img {
  margin-top: 5px;
  
}
.imag {
  width: 100%;
  height: auto;
  border-radius: 6%; 
}
.texto-oculto{
  font-size: 18px;
  background-color:rgb(220, 213, 213);
}
/*FOOTER*/

.p_footer{
  font-size: 20px;
  margin: 0;
}
.container1{
  height: 50px;
}

.fa {
  height: 30px;
 margin: 0;
 margin-right: 10px;
}

}
 

 @media screen and (min-width: 768px) and (max-width: 1024px) {

    /*header*/

  header{
    padding:0%;
    padding-top: 2px;
    padding-bottom: 4px;
  }
    
  .nav p{
    font-size: 14px;
    padding: 8px;
  }
    
  header a{
    padding: 4px 18px;
    font-size: 16px;
  }
  body {
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
  }
   /*PROYECT*/

  #row {
    padding: 5px;
  }
  
  .column {
    padding: 2px;
    margin: 2px;
    margin-top: 6px;
  }
  
  .column img {
    margin-top: 5px;
    
  }
  .imag {
    width: 300px;
    height: 350px;
    border-radius: 6%; 
  }

  .texto-oculto{
    font-size: 18px;
    background-color:rgb(220, 213, 213);
  }

   /*FOOTER*/
  
   .p_footer{
    font-size: 16px;
    margin: 0;
  }
  .container1{
    height: 46px;
    
  }
  
  .fa {
    height: 26px;
   margin: 0;
   margin-right: 10px;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1279px) {
  /*header*/
  .nav p{
    display: inline-block;
    font-size: 20px;
    padding: 10px;
   }
   
   header a{
     padding: 5px 20px;
     font-size: 22px;
  }
  
  
  /* INICIO */
  
  .hero-content {
    padding: 20px;
    border-radius: 10px;
  }
  
  .hero_content, h1 {
    font-size: 35px;
  }
  .hero_content, p {
    font-size: 30px;
    margin-top: 2%;
  }
  
  /*PROYECT*/
  #row {
    display: flex;
    padding: 5px;
  }
  
  .column{
    flex: 50%;
  }
  
  .column img {
    margin-top: 5px;
    
  }
  .imag {
    width: 50%;
    border-radius: 6%; 
  }
  .texto-oculto{
    font-size: 18px;
    background-color:rgb(220, 213, 213);
  }
 
 /*FOOTER*/
 
 .p_footer{
   font-size: 20px;
   margin: 0;
 }
 .container1{
   height: 50px;
 }
 
 .fa {
   height: 30px;
  margin: 0;
  margin-right: 10px;
 }}
    

